#popup_overlay {
/*background: none repeat scroll 0 0 #313131;*/
background: rgba(49, 49, 49, 0.8);
height: 100%;
left: 0;
/*opacity: 0.8;*/
position: fixed;
top: 0;
width: 100%;
z-index: 999999;
}
.pop_cont{
  position: absolute;
  top: 50%;
  width: 300px;
  background: #fff;
  text-align: center;
  border-radius: 5px;
  z-index: 100;
  left: 50%;
  margin-left: -150px;
  padding: 15px;
  box-sizing: border-box;
}
.pop_cont p{ padding-bottom: 15px;}

 input.error {
background: url(../images/error-input.html) no-repeat right center #ffffff !important;
border: 1px solid #ff0000 !important;
}
input.valid {
background: url(../images/tick-input.html) no-repeat right center #ffffff !important;
border: 1px solid #93DC69 !important;
}
select.valid {
background: url(../images/tick-input.html) no-repeat right center #ffffff !important;
border: 1px solid #93DC69 !important;
}
select.error {
background: url(../images/error-input.html) no-repeat right center #ffffff !important;
border: 1px solid #ff0000 !important;
}
  #LoadingDiv{
  margin:0px 0px 0px 0px;
  position:fixed;
  height: 100%;
  z-index:9999;
  padding-top:350px;
  width:100%;
  clear:none;
  background:url(trans.png);
  text-align:center;
  color:#FFF;
  font-weight:normal;
  font-size:16px;
  font-family:Trebuchet MS, Arial, Helvetica, sans-serif;
  line-height: 30px;
  }
/*IE will need an 'adjustment'*/
* html #LoadingDiv{
     position: absolute;
     height: expression(document.body.scrollHeight &gt; document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
  }
img.displayed {
  display:block;
  margin-left:auto;
  margin-right:auto;
  }